.osd {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 1.4vh;
    z-index: 9000;
    background: rgba(0,0,0,0.5);;
    overflow: hidden;
    color: #0f0;
    text-shadow: 0 0 1px #fff;

    &.active {
        display: block;
    }

    pre {
        width: calc(100vw - 2 * 2vh);
        height: 96vh;
        margin: 2vh;
    }
}
