<div class="osd">
	<pre>url             {{ format('url', ajax.url) }}
type            {{ format('type', ajax.type) }}
dataType        {{ format('dataType', ajax.dataType) }}
timeStamp       {{ format('timeStamp', ajax.timeStamp) }}
timeout         {{ format('timeout', ajax.timeout) }}
readyState      {{ format('readyState', ajax.readyState) }}
status          {{ format('status', ajax.status) }}
statusText      {{ format('statusText', ajax.statusText) }}
error           {{ format('error', ajax.error) }}
response        {{ format('responseJSON', ajax.responseJSON) }}</pre>
</div>
