<div class="panel panel-default panel-whatsdone panel-whatsdone-slideshow">
    <div class="backdrop">WHATSDONE</div>

    <div class="panel-body">
        <div class="slideshow">
            <transition-group name="fade">
                <div v-for="user in users" class="slide" v-if="showUser == user.id" v-bind:key="user.id">
                    <div class="cont">
                        <h5>{{ user.name }}</h5>
                        <div class="tasks">
                            <span v-for="task in user.tasks">
                                {{ task.body }}
                            </span>
                        </div>
                    </div>
                </div>
            </transition>
        </div>
    </div>
</div>
