.panel-whatsdone {
    background: rgba(245,245,245,0.95);

    .backdrop {
        opacity: 0.05;
    }

    .panel-body {
        height: 100%;
    }

    .whatsdone-table {
        width: 100% !important;
        line-height: 120%;

        tr {
            vertical-align: bottom;
        }

        th {
            font-weight: 100;
            font-size: 15px;
            text-align: right;
            vertical-align: bottom;
            border: none !important;
            white-space: nowrap;
            color: rgb(243,102,70);
            padding: 4px !important;
        }

        td {
            font-size: 15px;
            vertical-align: bottom;
            border: none !important;
            overflow: hidden;
            padding: 4px !important;
            text-overflow: ellipsis;

            .all-tasks {
                display: block;
                overflow: hidden;
                width: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }

    .slideshow {
        height: 100%;
        overflow: hidden !important;

        .slick-slider {
            height: 100%;
        }

        .slide {
            overflow: hidden;
            width: 100%;
            height: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

            h5 {
                color: rgb(243,102,70);
                font-size: 28px;
            }

            .tasks span {
                font-size: 23px;
            }
        }
    }
}
