<div class="board-grid">
    <div class="wrapper">
        <div class="grid-item grid-item--half">
            <widgets-nisam></widgets-nisam>
        </div>
        <div class="grid-item">
            <widgets-uprobot></widgets-uprobot>
        </div>
        <div class="grid-item">
            <widgets-currency></widgets-currency>
        </div>
        <div class="grid-item grid-item--half">
            <widgets-influendo-logo></widgets-influendo-logo>
        </div>
        <div class="grid-item grid-item--half">
            <widgets-whats-done-slideshow></widgets-whats-done-slideshow>
        </div>
    </div>
</div>
