@import "../../../sass/helper";

.widget.whatsdone {
	color: #636b6f;

	.background {
		background-image: image("widget-bg-whatsdone.jpg");
	}

	.overlay {
		background-color: rgba(245, 245, 245, 0.8);
	}

	.success {
		width: 100%;
		max-width: 960px;
		font-size: 18px;

		>div>div {
			margin: 1em 0;
		}

		h2 {
			margin: 0;
			font-weight: bold;
			color: #f36646;
		}

		p {
			margin: 0.25em 0;
			font-size: 1.17em;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}
