<div class="widget whatsdone">
    <background></background>
    <backdrop content="Whatsdone"></backdrop>
    <overlay></overlay>
    <div class="modal loading"></div>
    <div class="modal error" v-if="response.error">
        <h2>Error</h2>
        <p>{{ response.error }}</p>
    </div>
    <div class="modal success" v-if="response.data" :data-length=response.data.length>
        <div v-for="value in response.data" v-if="value.tasks.length">
            <h2>{{ value.name }}</h2>
            <p :title=value.taskBody>{{ value.taskBody }}</p>
        </div>
    </div>
</div>
