.updater {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    font-size: 8vh;
    background: #fff;
    color: #444;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: .4s ease all;

    &.countdown {
        visibility: visible;
        opacity: 1;
    }

    .modal {
        position: absolute;
        top: 50%;
        right: auto;
        bottom: auto;
        left: 50%;
        width: 80vw;
        box-sizing: border-box;
        z-index: 6000;
        transform: translate(-50%, -50%);
        text-shadow: 0 0 3px rgba(50, 50, 50, 0.3);
    }
}
