<div class="widget currency">
    <background></background>
    <backdrop content="Currency"></backdrop>
    <overlay></overlay>
    <div class="modal loading"></div>
    <div class="modal error">
        <h2>Error</h2>
        <p v-if="response">{{ response.error }}</p>
    </div>
    <div class="modal success">
        <table v-if="response" :data-length=response.length>
            <tbody>
                <tr v-for="value in response" :data-currency=getCurrency(value)>
                    <td>{{ getLabel(value) }}</td>
                    <td>{{ getUnit(value) }}</td>
                    <td>{{ getRate(value) }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
