<div class="widget currency">
    <background></background>
    <backdrop content="Currency"></backdrop>
    <overlay></overlay>
    <div class="modal loading"></div>
    <div class="modal error">
        <h2>Error</h2>
        <p v-if="response">{{ response.error }}</p>
    </div>
    <div class="modal success">
        <h2 v-if="response">{{ response.base }}@{{ response.date }}</h2>
        <table v-if="response" :data-length=response.rates.length>
            <tbody>
                <tr v-for="(value,key) in response.rates" :data-currency=getCurrency(key,value)>
                    <td>{{ getLabel(key,value) }}</td>
                    <td>{{ getUnit(key,value) }}</td>
                    <td>{{ getRate(key,value) }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
