<div class="widget currency">
    <background></background>
    <backdrop content="Currency"></backdrop>
    <overlay></overlay>
    <div class="modal loading"></div>
    <div class="modal error" v-if="response && response.error">
        <h2>Error</h2>
        <p v-if="response && response.error">{{ response.error }}</p>
    </div>
    <div class="modal success" v-if="response && !response.error" :data-length=Object.keys(response.rates).length>
        <h2>{{ response.base }}@{{ response.date }}</h2>
        <table>
            <tbody>
                <tr v-for="(value,key) in response.rates" :data-currency=getCurrency(key,value)>
                    <td>{{ getLabel(key,value) }}</td>
                    <td>{{ getUnit(key,value) }}</td>
                    <td>{{ getRate(key,value) }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
