html:not(.slider-active) * {
    cursor: none !important;
}

.slider {
    position: fixed;
    display: block;
    font-size: 5vh;
    z-index: 10000;
    bottom: -4em;
    right: 0;
    left: 0;
    height: 4em;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    background: transparent;
    color: #0f0;
    text-shadow: 0 0 0.025em #000;
    user-select: none;
    transition: 0.4s ease all;

    html.slider-active & {
        bottom: 0;
    }

    .slider-status {
        margin: 0;
        line-height: 1;
        font-size: 2em;
        text-transform: uppercase;
        cursor: default;
    }

    li {
        display: inline-block;
        margin: 0.5em 0.25em;

        a {
            display: block;
            width: 1em;
            height: 1em;
            outline: 0 none;
            text-decoration: none;
            text-indent: -2em;
            overflow: hidden;
            background: #0f0;
            border-radius: 50%;
            box-shadow: 0 0 0.025em #000;
            transform: scale(0.8);
            transition: 0.4s ease all;
        }

        &.active a {
            transform: scale(1.2);
        }

        &.request a {
            transform: scale(1);
        }
    }
}
