.panel-nisam {
    background: rgba(82,190,127,0.85);
    color: #fff;
}

.panel-nisam .backdrop {
    opacity: 0.2;
    color: #ccc;
}

.panel-body {
    height: 100%;
}

.nisam-pending-vote {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.nisam-pending-vote h2 {
    font-size: 62px;
    margin: 0;
}

.nisam-vote-in-progress {
    text-align: center;
    height: 100%;
}
.nisam-vote-in-progress h2 {
    font-size: 42px;
}
.nisam-vote-in-progress ul {
    margin: 10px 0 0 0;
    padding: 0;
    height: 5em;
    overflow: hidden;
    list-style-type: none;
    font-size: 22px;
}

.nisam-vote-finished {
    text-align: center;
    height: 100%;
}
.nisam-vote-finished h2 {
    font-size: 42px;
}
.nisam-vote-finished h3 {
    font-size: 36px;
}

.nisam-is-down {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.nisam-is-down h2 {
    font-size: 62px;
    margin: 0;
    color: #c00;
    opacity: 0.8;
}

.countdown {
    font-size: 22px;
    border: 1px solid #666;
    border-radius: 5px;
    margin: 5px 0 16px 0;
    padding: 5px 10px;
}

.countdown .label {
    display: none;
}
