@import "../../../sass/helper";

.widget.nisam {
	color: #eee;

	.background {
		background-image: image("widget-bg-nisam.jpg");
	}

	.backdrop {
		text-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
	}

	.overlay {
		background-color: rgba(82, 190, 127, 0.9);
	}
}
