<div class="widget nisam">
    <background></background>
    <backdrop content="Nisam"></backdrop>
    <overlay></overlay>
    <div class="modal loading"></div>
    <div class="modal error">
        <h2>Error</h2>
        <p v-if="response">{{ response.error }}</p>
    </div>
    <div class="modal success" v-if="response">
        <div v-if="response.status == 'missing'">
            <h2>Glasanje nije još počelo!</h2>
        </div>
        <div v-if="response.status == 'created'">
            <h2>Glasanje je u tijeku!</h2>
            <ul>
                <li v-for="place in response.votes">
                    {{ place.name }} - {{ place.votes }}
                </li>
            </ul>
            <!-- to do: add counter here -->
        </div>
        <div v-if="response.status == 'finished'">
            <h2>Glasanje je završeno!</h2>
            <h3>Idemo u <strong>{{ response.place.name }}</strong></h3>
            <h4>Nazvati mora: <strong>{{ response.user.name }}</strong></h4>
        </div>
        <div v-if="response.status == 'closed'">
            <h2>Svi su naručili!</h2>
            <h3><strong>{{ response.user.name }}</strong> je nazvao.</h3>
            <h4>Dobar tek!</h4>
        </div>
    </div>
</div>
