.panel-logo {
    background: #3fa9f5;
    opacity: 0.85;

    .panel-body {
        height: 100%;
        position: relative;
    }

    .logo {
         background-repeat: no-repeat;
         background-position: center center;
         height: 100%;
    }

    .clock {
        position: absolute;
        bottom: 5px;
        left: 15px;
        font-size: 32px;
        color: #fff;
    }
}
