@import "../../../sass/helper";

.widget.dilbert {
    color: #333;

    .background {
        background-image: asset("widgets/dilbert/img", "background.jpg");
    }

    .overlay {
        background-color: rgba(255, 255, 255, 0.9);
    }

    .success {
        font-size: calc((80vh - 68vh) / (1.5 * 1.2 + 1.5 * 0.5));

        img {
            width: 80vw;
            height: 68vh;
            object-fit: contain;
        }
    }
}
