<div class="widget dilbert">
    <background></background>
    <backdrop content="Dilbert"></backdrop>
    <overlay></overlay>
    <div class="modal loading"></div>
    <div class="modal error" v-if="response.error">
        <h2>Error</h2>
        <p>{{ response.error }}</p>
    </div>
    <div class="modal success" v-if="response.data">
        <header>
            <a href="http://dilbert.com/" target="_blank">
                <img src="/widgets/dilbert/img/logo.png" alt="Dilbert by Scott Adams" />
            </a>
            <span>
                <img src="/widgets/dilbert/img/thumb.png" alt="" />
            </span>
            <div>
                <h2>{{ response.data.title }}</h2>
                <time>{{ formatDate(response.data.date) }}</time>
            </div>
        </header>
        <article>
            <img :src=response.data.image alt="" />
        </article>
    </div>
</div>
