@import "../../../sass/helper";

.widget.dilbert {
    color: #333;

    .background {
        background-image: asset("widgets/dilbert/img", "background.jpg");
    }

    .overlay {
        background-color: rgba(255, 255, 255, 0.9);
    }

    .success {
        header {
            display: table;
            height: 20vh;
            margin: 0 auto;
            color: #af2f27;

            & > * {
                display: table-cell;
                vertical-align: middle;

                &:last-child {
                    max-width: calc(80vw - 2 * 20vh - 2vh);
                    padding-left: 2vh;
                    font-size: 5vh;
                    text-align: left;
                }
            }

            img {
                width: 20vh;
                height: 20vh;
            }

            h2 {
                margin: 0;
            }

            time {
                display: block;
                font-size: 0.5em;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        article {
            img {
                width: 100%;
                max-width: 80vw;
                max-height: 60vh;
                object-fit: contain;
            }
        }
    }
}
