<div class="widget uprobot">
    <background></background>
    <backdrop content="Uprobot"></backdrop>
    <overlay></overlay>
    <div class="modal loading"></div>
    <div class="modal error" v-if="response && response.error">
        <h2>Error</h2>
        <p v-if="response && response.error">{{ response.error }}</p>
    </div>
    <div class="modal success" v-if="response && !response.error" :data-length=response.monitors.length>
        <h2 v-for="value in response.monitors" :data-id=value.id :data-type=value.type :data-status=value.status :data-url=value.url>
            {{ value.friendlyname }}
        </h2>
    </div>
</div>
