<div class="widget uprobot">
    <background></background>
    <backdrop content="Uprobot"></backdrop>
    <overlay></overlay>
    <div class="modal loading"></div>
    <div class="modal error">
        <h2>Error</h2>
        <p v-if="response">{{ response.error }}</p>
    </div>
    <div class="modal success">
        <table v-if="response">
            <tbody>
                <tr v-for="value in response.monitors">
                    <td>
                        <span v-if="value.status == 2">OK</span>
                        <span v-if="value.status != 2">NOK</span>
                    </td>
                    <td>{{ value.friendlyname }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
