<div class="widget uprobot">
    <background></background>
    <backdrop content="Uprobot"></backdrop>
    <overlay></overlay>
    <div class="modal loading"></div>
    <div class="modal error">
        <h2>Error</h2>
        <p v-if="response">{{ response.error }}</p>
    </div>
    <div class="modal success" v-if="response" :data-length=response.monitors.length>
        <table>
            <tbody>
                <tr v-for="value in response.monitors" :data-id=value.id :data-type=value.type :data-status=value.status :data-url=value.url>
                    <td>{{ value.id }}</td>
                    <td>{{ value.type }}</td>
                    <td>{{ value.status }}</td>
                    <td>{{ value.friendlyname }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
