@import "../../../sass/helper";

.widget.uprobot {
    color: #eee;

    .background {
        background-image: asset("widgets/uprobot/img", "background.jpg");
    }

    .backdrop {
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    }

    .overlay {
        background-color: rgba(100, 100, 200, 0.8);
    }

    .success {
        width: auto;
        max-width: 80vw;
        font-size: calc(80vh / ((1 * 1.2) * 16 + (16 - 1) * (1 * 0.5)));
        text-align: left;

        &[data-length="1"],
        &[data-length="2"],
        &[data-length="3"],
        &[data-length="4"],
        &[data-length="5"],
        &[data-length="6"] {
            font-size: 8vh;
        }

        &[data-length="7"] {
            font-size: calc(80vh / ((1 * 1.2) * 7 + (7 - 1) * (1 * 0.5)));
        }

        &[data-length="8"] {
            font-size: calc(80vh / ((1 * 1.2) * 8 + (8 - 1) * (1 * 0.5)));
        }

        &[data-length="9"] {
            font-size: calc(80vh / ((1 * 1.2) * 9 + (9 - 1) * (1 * 0.5)));
        }

        &[data-length="10"] {
            font-size: calc(80vh / ((1 * 1.2) * 10 + (10 - 1) * (1 * 0.5)));
        }

        &[data-length="11"] {
            font-size: calc(80vh / ((1 * 1.2) * 11 + (11 - 1) * (1 * 0.5)));
        }

        &[data-length="12"] {
            font-size: calc(80vh / ((1 * 1.2) * 12 + (12 - 1) * (1 * 0.5)));
        }

        &[data-length="13"] {
            font-size: calc(80vh / ((1 * 1.2) * 13 + (13 - 1) * (1 * 0.5)));
        }

        &[data-length="14"] {
            font-size: calc(80vh / ((1 * 1.2) * 14 + (14 - 1) * (1 * 0.5)));
        }

        &[data-length="15"] {
            font-size: calc(80vh / ((1 * 1.2) * 15 + (15 - 1) * (1 * 0.5)));
        }

        li {
            position: relative;
            margin: 0.5em 0;
            padding-left: 2em;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &:nth-of-type(15) ~ li {
                display: none;
            }

            &::before {
                content: "";
                position: absolute;
                display: block;
                top: 0.2em;
                bottom: 0.2em;
                left: 0;
                width: 1.5em;
                background: #bf5329 asset("widgets/uprobot/img", "arrow-down.svg") no-repeat scroll center center / 0.5em auto;
                border-radius: 0.1em;
            }

            &[data-status="2"]::before {
                background-color: #2ab27b;
                background-image: asset("widgets/uprobot/img", "arrow-up.svg");
            }
        }
    }
}
