<div class="widget calendar">
    <background></background>
    <backdrop content="Calendar"></backdrop>
    <overlay></overlay>
    <div class="modal loading"></div>
    <div class="modal success" v-if="response.data">
        <div class="calendar">
            <div class="title">
                <span>{{ response.data.MMMM }} {{ response.data.Y }}</span>
            </div>
            <div class="header">
                <ul>
                    <li v-for="value in weekdayNames">{{ value.substr(0,3) }}</li>
                </ul>
            </div>
            <div class="content">
                <ul>
                    <li v-for="(value, key) in response.data.cal.table" v-bind:class="{ inactive: key < response.data.cal.first || key > response.data.cal.last, current: key == response.data.cal.current }">{{ value }}</li>
                </ul>
            </div>
        </div>
        <div class="clock">
            <span>{{ response.data.H }}:{{ response.data.I }}:{{ response.data.S }}</span>
        </div>
    </div>
</div>
