@import "../../../sass/helper";

.widget.calendar {
	color: #333;

	.background {
		background-image: asset("widgets/calendar/img", "background.jpg");
	}

	.overlay {
		background-color: rgba(255, 255, 255, 0.9);
	}
}
