<div class="widget calendar">
    <background></background>
    <backdrop content="Calendar"></backdrop>
    <overlay></overlay>
    <div class="modal loading"></div>
    <div class="modal success" v-if="response">
        <div class="calendar">
            <div class="title">
                <span>{{ response.MMMM }} {{ response.Y }}</span>
            </div>
            <div class="header">
                <ul>
                    <li v-for="value in weekdayNames">{{ value.substr(0,3) }}</li>
                </ul>
            </div>
            <div class="content">
                <ul>
                    <li v-for="(value, key) in response.cal.table" v-bind:class="{ inactive: key < response.cal.first || key > response.cal.last, current: key == response.cal.current }">{{ value }}</li>
                </ul>
            </div>
        </div>
        <div class="clock">
            <span>{{ response.H }}:{{ response.I }}:{{ response.S }}</span>
        </div>
    </div>
</div>
